name: Release Older Stach Version SDKs

env:
  NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
  MAVEN_GPG_PRIVATE_KEY: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
  MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME_2024OCT }}
  MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD_2024OCT }}
  MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
  JAVA_SDK_LOCATION_v1: "java/v1"
  JAVA_SDK_LOCATION_v2: "java/v2"
  PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  PYTHON_SDK_LOCATION_v2: "python/fds.protobuf.stach.v2"
  PYTHON_SDK_LOCATION_v1: "python/fds.protobuf.stach"
  DOTNET_SDK_LOCATION_v1: "dotnet/v1"
  DOTNET_SDK_LOCATION_v2: "dotnet/v2"

on:
  workflow_dispatch:
    inputs:
      SDKs:
        description: 'Which SDK to release? Options are "dotnet-v1", "dotnet-v2", "java-v1", "java-v2", "python-v1" and "python-v2"'
        required: true
        default: all

jobs:
  java-v1:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' 
      && github.event.inputs.SDKs == 'java-v1'
      
    steps:
    - uses: actions/checkout@v2
  
    - name: Set up Java JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ env.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE
    
    - name: Build
      run: |
        mvn -B package --file ${{ env.JAVA_SDK_LOCATION_v1 }}/pom.xml
      
    - name: Publish to Apache Maven Central
      run: |
        cd ${{ env.JAVA_SDK_LOCATION_v1 }}
        mvn -Psign-artifacts verify deploy

  java-v2:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' 
      && github.event.inputs.SDKs == 'java-v2'
      
    steps:
    - uses: actions/checkout@v2
  
    - name: Set up Java JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ env.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE
    
    - name: Build
      run: |
        mvn -B package --file ${{ env.JAVA_SDK_LOCATION_v2 }}/pom.xml
      
    - name: Publish to Apache Maven Central
      run: |
        cd ${{ env.JAVA_SDK_LOCATION_v2 }}
        mvn -Psign-artifacts verify deploy

  python-v2:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' 
      && github.event.inputs.SDKs == 'python-v2'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine

    - name: Build and publish to PyPI
      env:
        TWINE_USERNAME: ${{ env.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ env.PYPI_PASSWORD }}
      run: |
        cd ${{ env.PYTHON_SDK_LOCATION_v2 }}
        python setup.py sdist bdist_wheel
        twine upload dist/* --verbose

  python-v1:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' 
      && github.event.inputs.SDKs == 'python-v1'
    
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    
    - name: Build and publish to PyPI
      env:
        TWINE_USERNAME: ${{ env.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ env.PYPI_PASSWORD }}
      run: |
        cd ${{ env.PYTHON_SDK_LOCATION_v1 }}
        python setup.py sdist bdist_wheel
        twine upload dist/* --verbose

  dotnet-v1:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.SDKs == 'dotnet-v1'

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0

    - name: Build and create the package
      run: dotnet build --configuration Release ${{ env.DOTNET_SDK_LOCATION_v1 }}/Schema.csproj

    - name: NuGet Push
      run: |
        dotnet nuget push ${{ env.DOTNET_SDK_LOCATION_v1 }}/bin/Release/*.nupkg 
          --source https://api.nuget.org/v3/index.json
          --api-key ${{ env.NUGET_API_KEY }}

  dotnet-v2:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.SDKs == 'dotnet-v2'

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0

    - name: Build and create the package
      run: dotnet build --configuration Release ${{ env.DOTNET_SDK_LOCATION_v2 }}/Schema.csproj

    - name: NuGet Push
      run: |
        dotnet nuget push ${{ env.DOTNET_SDK_LOCATION_v2 }}/bin/Release/*.nupkg 
          --source https://api.nuget.org/v3/index.json
          --api-key ${{ env.NUGET_API_KEY }}
